# Dependencies
node_modules/

# Cypress
cypress/videos/
cypress/screenshots/
cypress/results/

# Environment
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.log